.wp-container-3.is-content-justification-space-between.is-nowrap wp-block-group profound-header{
    margin-top: 31px; 
}

.wp-block-navigation-item__label{
border: 2px solid; 
border-radius: 12px; 
padding: 6.5px 23.5px; 
 }

 .has-text-align-center, has-heading-1-font-size{ 
        width: 887px;
    margin-top: 109px
 }

 .has-text-align-center has-medium-font-size{

    width: 777px;

 }

 .wp-container-8 wp-block-columns{
    margin: 122px; 
    gap: 7.5rem; 
 }

